.main {
    background-color: $red-s;
    height: 2000px;
}
.principal-section {
    background-color: $red-s;
    position: relative;
}
.principal-section__title {
    width: 950px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1;
    letter-spacing: 0.04em;
    margin:auto; 
    justify-content: center;
    text-align:center;
    text-transform: uppercase;
    color:$white-s;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,  -155%); 
    z-index: 1;
}

.principal-section__image {
    border-radius: 500px;
    justify-content: center;
    margin: auto;
    display: block; 
    margin: auto;
    position: relative;
    top: 120px;
    z-index: 0;
}

.principal-section__text {
    display: flex;
    width: 300px;
    height: auto;
   line-height: 1.2;
   letter-spacing: 0.04em;
   text-align:justify;
   color:$white-s;
   position: absolute;
   top: 55%;
   left: 10%;
}

.fruit-banana {
    list-style: none;
    position: absolute;
    top:22%;
    left: 18%;
}

.fruit-strawberry {
    list-style: none;
    position: absolute;
    top:0;
    right: 21%;
} 

.watermelon__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 249px;
    height: 387px;
    background-color: $green-s;
    border-radius: 500px;
    padding: 28px 25px 15px 24px;
    position: absolute;
    left: 15%;
    bottom: -39%;
}

.watermelon__title {
    width: 24px;
    height: 14px;
    font-size: 12px;
    font-weight:400;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color:$white-s;
    text-align: center; 
    padding-bottom: 61px;  
    margin: 0;
}

.watermelon__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.04em;
   text-align: center;
   text-transform: uppercase;
   color: $white-s;
   padding: 0px 20px 20px 20px;
   margin: 0;
}

.strawberry-basket__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 249px;
    height: 387px;
    background-color: $yellow-s;
    border-radius: 500px;
    padding: 28px 35px 40px 35px;
    position: absolute;
    left: 70%;
    bottom: 0%;

}

.strawberry-basket__title {
    width: 24px;
    height: 14px;
    font-size: 12px;
    font-weight:400;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color:$white-s;
    text-align: center; 
}

.strawberry-basket__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.04em;
   text-align: center;
   text-transform: uppercase;
   color: $white-s;
   padding: 0px 20px 0px 20px;
   margin: 0;
}