$standar-black: rgba(0, 0, 0, 1);
$primary-color: rgba(255, 255, 255, 1);
$background: rgba(174, 19, 50, 1);
$watermelon-color: rgba(164, 203, 102, 1);
$strawberry-basket-background: rgba(245, 206, 19, 1);